/* main.css */
body {
    background-color: #2553af; /* Light gray background */
    font-family: Arial, sans-serif; /* Clean font */
}

div.block-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    flex-direction: column;
    text-align: center;
}

h1 {
    color: #4a90e2; /* Nice blue */
    font-size: 3rem;
    margin-bottom: 2rem;
}

div.stButton > button {
    background-color: #0099ff !important;
    color: #ffffff !important;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-size: 1rem;
    transition: 0.5s;
}

div.stButton > button:first-child {
    background-color: #4a90e2;
    color:#ffffff;
}
div.stButton > button:hover {
    background-color: #ffffff !important;
    color: #0099ff !important;
    border: 1px solid #0099ff;
}

