/* main.css */
body {
    background-color: #2553af; /* Light gray background */
    font-family: Arial, sans-serif; /* Clean font */
}

div.block-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    flex-direction: column;
    text-align: center;
}

h1 {
    color: #4a90e2; /* Nice blue */
    font-size: 3rem;
    margin-bottom: 2rem;
}

button {
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    opacity: 1;
    background-color: #357ab8;
    border: none;
}

